/* ==========================================================================
   MEHROZ KHAN CUSTOM CSS (MK)
   ========================================================================== */

*{
	margin:0px;
	padding:0px; 
}
body{
	font-family: 'Poppins', sans-serif;
}
p{
	font-size: 16px;
	color:#23252b;
}

header{
	background-image: url('../img/banner-bg.png');
	background-position: top right; 
	background-repeat: no-repeat;
	background-size:65%;
}
.navbar {
	padding-top: 35px;
}
.banner-mobile{
	position: relative;
    /*left: -130px;*/
    left: -80px;
    top: 30px;
}
.sec1{
	padding-top: 80px;
	padding-bottom: 0px;
}
.sec1 h2{
	font-size: 66px;
	line-height: 90px;
	color:#f45941;
	font-style: italic;
}
.sec1 h4{
	font-size: 27px;
	color: #20222b;
	line-height: 27px;
	font-weight: 300;
}
.sec1 .btn{
	color:#ffffff;
	background-color: #82c250;
	padding: 5px 25px;
	border-radius: 25px;
	margin: 20px 15px;
	font-size: 27px;
	font-weight: 600;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(222,236,211,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(222,236,211,1);
	box-shadow: 0px 0px 5px 3px rgba(222,236,211,1);
}
.qr-row{
	padding-top:50px; 
}

nav li a{
	color:#ffffff;
	text-align: center;
	min-width: 100px;
}
nav li a:hover{
	background-color: #000 !important;
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	
}
.social-link{
	position: absolute;
	right: 8px;
	top: 8px;
}
.social-link ul li i{
	margin-right: 25px;
	color: #fff;
	font-size: 18px;
}
.sec-heading{
	text-align: center;
	position: relative;
	padding-bottom: 50px;
}
.sec-heading h2{
	font-size:40px;
	color: #373e55;
	line-height: 40px;
}
.sec-heading h2::after{
	content:'';
	width: 100px;
	height: 1px;
	background-color: #f45941;
	position: absolute;
	top: 85px;
	left: 521px;

}
.sec-heading h2::before {
    content: '';
    width: 200px;
    height: 1px;
    background-color: #f45941;
    position: absolute;
    top: 75px;
    left: 471px;
}
.sub-head h2{
	font-size: 30px;
	line-height: 30px;
	color: #f45941;
}
.sec2{
	padding-top: 30px;
	padding-bottom: 50px;
}
.slider-nav{
	position: relative;
	right: 40px;
	top: 40px;
	z-index: 1;
	text-align: right;
}
.slider-nav button{
	background:transparent;
	border:0px; 
	font-size: 20px;
	padding: 10px;
	color: #f45941; 
}
.chart-list{
	padding-top: 50px;
	padding-bottom: 50px;
}
.chart-list ul li.one{
	list-style-image: url('../img/one.png');
}
.chart-list ul li.two{
	list-style-image: url('../img/two.png');
}
.chart-list ul li.three{
	list-style-image: url('../img/threee.png');
}
.chart-list ul li.four{
	list-style-image: url('../img/four.png');
}
.chart-list ul li.five{
	list-style-image: url('../img/five.png');
}
.chart-list ul li.six{
	list-style-image: url('../img/six.png');
}

.chart-list ul li.seven{
	list-style-image: url('../img/seven.png');
}
.chart-list ul li.eight{
	list-style-image: url('../img/eight.png');
}
.chart-list ul li.nine{
	list-style-image: url('../img/nine.png');
}
.coins{
	padding-top: 30px;
}
.frm{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(249,233,231,1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(249,233,231,1);
	box-shadow: 0px 0px 5px 3px rgba(249,233,231,1);
	border-radius: 10px;
	margin-top: 30px;
}
.frm label{
	font-weight: 300;
}

.frm-header{
	padding: 100px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8a00+0,f64838+100 */
	background: #ff8a00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff8a00 0%, #f64838 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff8a00 0%,#f64838 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff8a00 0%,#f64838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a00', endColorstr='#f64838',GradientType=0 ); /* IE6-9 */
}
.frm-body{
	padding:20px;
}
.frm-body input{
	height: 42px;
	padding-left: 40px;
	border:1px solid #f35740;
	border-radius: 5px !important;
	-webkit-box-shadow: 0px 2px 5px 3px rgba(233,233,233,1);
-moz-box-shadow: 0px 2px 5px 3px rgba(233,233,233,1);
box-shadow: 0px 2px 5px 3px rgba(233,233,233,1);

}
.frm-body img{
	position: absolute;
	top: 4px;
	z-index: 3;
	left: 5px;
}
.frm-body .input-group{
	margin-bottom: 20px;
	width: 100%;
}
.frm-body .btn{
	color: #ffffff;
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
	padding: 5px 25px;
	border-radius: 25px;
	margin: 20px 15px;
	font-size: 27px;
	font-weight: 600;
	margin-left: 33%;
}
.slider_div{
	padding: 25px;
	border-radius: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 5px 3px rgba(247,79,50,1);
	-moz-box-shadow: 0px 2px 5px 3px rgba(247,79,50,1);
	box-shadow: 0px 2px 5px 3px rgba(247,79,50,1);
	width: 90% !important; 
	text-align: center;
	margin-left: 20px;
	min-height: 260px;
}
.sec3 .slick-list{
	padding: 70px 5px 30px 5px;
}
.sec3 .logo{
	padding-bottom: 30px;
	text-align: center !important;
}
.sec3 .logo img{
	display: initial;
} 
.slider-nav1 {

    position: relative;
    right: 40px;
    top: 20px;
    z-index: 1;
    text-align: right;

}
.slider-nav1 button {

    background: transparent;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    color: #f45941;

}
.slider-nav1 button {

    font-size: 20px;
    color: #f45941;

}
.sec4{
	padding-top: 80px;
	padding-bottom: 80px;
}

.sec4 .tab-content img{
	border-radius: 50%;

}
/*.sec4 .tab-content .col-sm-4{
	padding: 25px 25px 0 0;
	text-align:center;
}*/
.sec4 .tab-content .col-sm-4 p{
    margin-top:5px;
    margin-bottom:0px;
    font-size:14px;
}
.sec4 .nav-tabs{
	float: right;
}
.clear{
	float: none;
}















































/* footer css */
footer{
	padding-top: 40px;
	background-color: #de462e;
	color:#ffffff;
	position: relative;
}

footer ul li{
	list-style-image: url('../img/caret.png');
}

footer ul li > a {
	color : #fff;
	transition: ease-in-out .5s all;
	-webkit-transition: ease-in-out .5s all;
	-moz-transition: ease-in-out .5s all;
	text-decoration: none !important;
}

footer ul li > a:hover {
	color: #aac148;
}

.social-link-ftr ul li{
	list-style: none;
	display: inline;

}
.social-link-ftr ul li a{
	color: #ffffff;
	text-decoration: none;
	padding-right: 10px;
}
.footer-bottom p{
	line-height: 50px;
	color:#ffffff;
	margin-bottom: 0px;
}
.footer-top{
	padding-top: 20px;
	padding-bottom: 30px;
	position: relative;
}
.footer-top::after{
	content: '';
	width: 90%;
	height: 1px;
	background-color: #e56b58;
	position: absolute;
	left:5%;
	bottom:5%;
}
.footer-top .sec-heading{
	text-align: left;
}
.sec-heading h3::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 56px;
    left: 29px;
}
.sec-heading h3::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 45px;
    left: 10px;
}
.team-slider h2{
	font-size: 25px;
	line-height: 25px;
	font-weight: 600;
	color:#152453;
}
.team-slider h4{
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	color:#f45941;
}
.team-slider p{
	color:#979797;
	font-size: 12px;
}
/*.sec4 .tab-content .col-sm-4.founder-info{
	padding-top: 150px;
	padding-left: 29px;
	text-align: left; 
}*/
.slider-nav3, .slider-nav4, .slider-nav5 {

    position: relative;
    right: 120px;
    z-index: 1;
    text-align: right;
    bottom: 170px;

}
.slider-nav2 button, .slider-nav3 button, .slider-nav4 button, .slider-nav5 button {

    font-size: 20px;
    color: #f45941;
    background: transparent;
    border: 0px;
    padding: 10px;

}
.sec4 ul.nav-tabs{
	border-bottom:0px;
}
.sec4 ul.nav-tabs li a {
    border: 0px;
    color: #152453;
    background-color: #f0f0f0;
    border-radius: 50px;
    width: 160px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    -webkit-box-shadow: 0px 2px 3px 3px rgba(232,232,232,1);
-moz-box-shadow: 0px 2px 3px 3px rgba(232,232,232,1);
box-shadow: 0px 2px 3px 3px rgba(232,232,232,1);
}
.sec4 ul.nav-tabs li a:hover {
	border:0px;
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
	color: #ffffff;
}
.sec4 ul.nav-tabs li.active a{
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
	color: #ffffff;
	border:0px;
}
.sec5{
	padding-top: 100px;
	/*padding-bottom: 50px;*/
	background-image: url('../img/sec5-bg.png');
	background-size:100%;
	background-repeat: no-repeat;
}
.sec5 .sec-heading{

    position: relative;
    top: -220px;
    z-index: 1;

}
.wave{
	position: relative;
}
.wave-pic{
	background-image: url('../img/wave.png');
	background-repeat: no-repeat;
	height: 141px;
	position: absolute;
	z-index: 1;
	top: -107px;
	width: 100%;
	background-size:cover;
	animation: float 3s ease infinite;
}
.old-man img{
     position: relative;
    left: 11px;
    top: -91px;
    width: 100%
}
.sec7{
	padding-top:50px;
	padding-bottom: 80px;
	background-image: url('../img/sec7-bg.png');
	background-repeat: no-repeat;
	background-size: cover; 
}
.sec7 .wave-pic{
	top:-58px;
}
.sec7 .sec-heading{
	position: relative;
	top: -190px;
	z-index: 1;
}
.sec7 input, .sec7 textarea{
	height: 48px;
padding-left: 50px;
border: 1px solid #f35740;
border-radius: 5px !important;
-webkit-box-shadow: 5px 5px 5px 0px rgb(227, 82, 36);

-moz-box-shadow: 5px 5px 5px 0px rgba(227,82,36,1);

box-shadow: 5px 5px 5px 0px rgb(227, 82, 36,1);

width:100%;
margin-bottom: 20px !important;
}
.sec7 textarea{
	height: 180px;
	padding-top: 20px;
}
.sec7 input::placeholder, .sec7 textarea::placeholder{
   color:#afadac;
}
.sec7 .input-group img {
    position: absolute;
    top: 7px;
    z-index: 3;
    left: 10px;
}
.sec7 .input-group{
	width:100%;
}
.sec7 label{
	color: #fff;
	font-weight: 300;
}
.sec7 input[type=radio]{
	width: auto;
	border:3px solid #000;
	height: auto;
}
.sec7-btn{
	background-color: #aac148;
	color: #fff;
	padding: 10px 45px;
	border-radius: 40px;
	margin-left: 20px;
}
.woman{
	position: absolute;
	top: 21px;
	right: -40px;
}

.sec6{
	/*padding-top: 50px;*/
	padding-bottom: 200px;
}
   











.sec7 ul {
  list-style: none;
}

.sec7 li {
  padding: 10px 0;
}
.sec7 input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.sec7 input[type="radio"] + label {
  display: inline-block;
  background: url('../img/radiobullet.png') no-repeat;
  background-size: 20px 20px;
  margin-left: -20px;
  padding-left: 30px;
  line-height: 20px;
  cursor: pointer;
}
    
.sec7 input[type="radio"]:checked + label {
  background: url('../img/check.png') no-repeat;
  background-size: 20px 20px;
}
.sec4 .sec-heading, .sec6 .sec-heading{
	margin-bottom: 60px;
}
.circle{

    background: rgba(255,137,59,1);
    background: -moz-linear-gradient(top, rgba(255,137,59,1) 0%, rgba(247,41,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,137,59,1)), color-stop(100%, rgba(247,41,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,137,59,1) 0%, rgba(247,41,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,137,59,1) 0%, rgba(247,41,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,137,59,1) 0%, rgba(247,41,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,137,59,1) 0%, rgba(247,41,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff893b', endColorstr='#f72900', GradientType=0 );
    border-radius: 100%;
    width: 125px;
    height: 125px;
    padding: 30px 10px;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(166,166,166,1);
-moz-box-shadow: -5px 5px 5px 0px rgba(166,166,166,1);
box-shadow: -5px 5px 5px 0px rgba(166,166,166,1);

}
.circle p{
	text-align: center;
	color:#ffffff;
	font-weight: 500;
}












.aButton {
	transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;

	/*border            : none;
	border-radius     : 3px;
	padding           : 0px 10px 0px 10px;

	background-color  : #dfdfdf;
	color             : #0090d3;

	font-size         : 14px;

	text-decoration   : none;

	box-sizing        : border-box;
	-webkit-box-sizing: border-box;
	height            : 35px;*/
}
.aButton:hover {
	transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;

	background-color  : #ffd700;
	color             : #696969;
}
.shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.rotateY {
	cursor: pointer;	
}
.rotateY:hover {
	transform               : rotateY(360deg);
	-moz-transform          : rotateY(360deg);
	-webkit-transform       : rotateY(360deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;

	transition              : transform 1.0s ease all;
	-moz-transition         : -moz-transform 1.0s ease all;
	-webkit-transition      : -webkit-transform 1.0s ease all;
}
.sec5 ul{
	border:0px;
}
.sec5 ul li a{

    border: 0px;
    color: #152453;
    background-color: #f0f0f0;
    border-radius: 50px;
    width: 160px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    -webkit-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
    -moz-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
    box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);

}
.sec5 ul.nav-tabs li.active a {

    background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
    color: #ffffff;
    border: 0px;

}
.sec5 ul.nav-tabs li a:hover {

    border: 0px;
    background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
    color: #ffffff;

}
.sec5 iframe{
	margin-bottom:30px;
}










.animebox{
	position: relative;
}
.icon{
	position: absolute;
}
.icon1{
	top: -140px;
left: 341px;
animation: fadeLTR 1.9s infinite ease-in-out;
}
.icon2{
	top: 510px;
left: 530px;
animation: fade-up 2.3s infinite ease-in-out;
}
.icon3{
	left: 571px;

top: 263px;
animation: heartBeat 2.8s infinite ease-in-out;
}
.icon4{
	left: 35px;

top: 102px;
animation: fly 2.8s infinite ease-in-out
}

.icon5{
	left: 20px;

top: 611px;
}
.icon6{
	left: 291px;

top: 611px;
}
.icon7{
right: 10px;
animation: fly 2.8s infinite ease-in-out;
}
.icon8{
left: 10px;
animation: rotation 2.3s infinite ease-in-out;

top: 340px;
}
.icon9{
right: 131px;

top: -20px;
animation: fly 2.8s infinite ease-in-out;
}
.icon10{
	left: 240px;
	animation: rotation 2.3s infinite ease-in-out;

top: 110px;
}
.icon11{
left: 360px;
animation: fly 2.8s infinite ease-in-out;
top: -50px;
}
.icon12{
left: 20px;
animation: rotation 2.3s infinite ease-in-out;
top: 100px;
}
.icon13{
	right: 0;

top: 20px;
}
.icon14{
	left: 330px;

top: 90px;
}
.icon15{
	top: -300px;

left: -40px;
}
.icon16{
	top: 90px;
animation: fly 2.8s infinite ease-in-out;
left: 240px;
}
.icon17{
	top: 490px;
	animation: rotation 2.3s infinite ease-in-out;
}
.icon18{
	right: 0;

top: 210px;
}
.icon19{
	right: -30px;

top: 1140px;
}
.icon20{
	left: -30px;

top: 1140px;
}
.icon21{
	top: 730px;
animation: fly 2.8s infinite ease-in-out;
right: 0;
}
.icon22{
	top: 170px;
animation: fly 2.8s infinite ease-in-out;
left: 300px;
}
.icon23{
	top: 390px;
animation: rotation 2.3s infinite ease-in-out;
right: -30px;
}
.icon24{
	right: 214px;
	top: 30px;
	animation: water-bubble 2.3s infinite ease-in-out;
}
.icon25{
	top: 20px;
	right: 0px;
	animation: water-bubble 2.3s infinite ease-in-out;
}
.icon26{
	right: 60px;

top: -31px;

animation: fadeLTR 1.9s infinite ease-in-out;
}
.icon27{
	right: 110px;

top: 190px;
}
.icon28{
	animation: blink 1.5s linear infinite;

top: 496px;

left: 418px;

z-index: 1;
}
.banner-mobile{
	animation: float 3s ease infinite;
}
.chart{
	animation: push-pull 9s ease infinite;
}
.coins{
  animation: float 3s ease infinite;
  /*padding-bottom: 260px;*/
}

ul.page-tabs li a{
width: 40px;
margin-top: 20px;
}
ul.page-tabs li:first-child a{
	background-color:transparent;
	box-shadow: none;
	padding-right: 35px;

}
.circle-full-width{
	display: none;
}
.chart-list{
	display: none;
}
footer{
	-webkit-box-shadow: inset 0px 5px 10px 0px rgba(186,59,39,1);
-moz-box-shadow: inset 0px 5px 10px 0px rgba(186,59,39,1);
box-shadow: inset 0px 5px 10px 0px rgba(186,59,39,1);
}

.circle-half-width, .circle-full-width{
	margin-top: 30px;
}







.ball {
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  /*-webkit-transform-style: preserve-3d;*/
  /*background: url('http://hop.ie/balls/images/world-map-one-color.png') repeat-x;*/
  background: url('../img/circleBg.png') repeat-x;
  background-size: 200% 100%;
  overflow: hidden;
  /*-webkit-animation: move-map 10s infinite linear;
  -moz-animation: move-map 10s infinite linear;
  -o-animation: move-map 10s infinite linear;
  -ms-animation: move-map 10s infinite linear;
  animation: move-map 10s infinite linear;*/
}
.ball::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url('../img/ballLight.png');
    background-size: 100% 100%;
    opacity: .3;
    box-shadow: inset -3px -10px 30px 20px rgb(0, 0, 0);
}
.ball:hover {
  	-webkit-animation: move-map 10s infinite linear;
  	-moz-animation: move-map 10s infinite linear;
  	-o-animation: move-map 10s infinite linear;
  	-ms-animation: move-map 10s infinite linear;
  	animation: move-map 10s infinite linear;
}

.ball:before {
  /*content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
  z-index: 2;*/
}

.ball:after {
  /*content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(0);
  opacity: 0.3;
  background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);*/
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

/*.ball ul {
    margin: 0;
    line-height: 130px;
    list-style: none;
    position: relative;
    position: relative;
	height: 125px;
	width: 1125px;
}*/
.ball ul {
    margin: 0;
    list-style: none;
    position: relative;
    height: 125px;
    width: 1125px;
    padding: 30px 0;
}
.ball .ulCont:hover ul {
  	-webkit-animation: move-ul 15s infinite linear;
  	/*-moz-animation: move-map 30s infinite linear;
  	-o-animation: move-map 30s infinite linear;
  	-ms-animation: move-map 30s infinite linear;*/
  	animation: move-ul 15s infinite linear;
}

.ball ul li {
    position: absolute;
    width: 125px;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
.ball ul li h4 {
    font-size: 24px;
    font-weight: 600;
}
.ball ul li:last-child {
    left: 875px;
}
.ball ul li:nth-child(7) {
    left: 750px;
}
.ball ul li:nth-child(6) {
    left: 625px;
}
.ball ul li:nth-child(5) {
    left: 500px;
}
.ball ul li:nth-child(4) {
    left: 375px;
}
.ball ul li:nth-child(3) {
    left: 250px;
}
.ball ul li:nth-child(2) {
    left: 125px;
}
/*.ball ul li:first-child {
    left: 1125px;
}
.ball ul li:nth-child(9) {
    left: 125px;
}
.ball ul li:nth-child(8) {
    left: 250px;
}
.ball ul li:nth-child(7) {
    left: 375px;
}
.ball ul li:nth-child(6) {
    left: 500px;
}
.ball ul li:nth-child(5) {
    left: 625px;
}
.ball ul li:nth-child(4) {
    left: 750px;
}
.ball ul li:nth-child(3) {
    left: 875px;
}
.ball ul li:nth-child(2) {
    left: 1000px;
}*/



@-moz-keyframes move-map {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -875px 0; } }

@-webkit-keyframes move-map {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -875px 0; }
}


@-o-keyframes move-map {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -875px 0; } }

@-ms-keyframes move-map {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -875px 0; } }

@keyframes move-map {
  0% {
    background-position: 0 0; 
	}

  100% {
    background-position: -875px 0; 
    } 
}


@keyframes move-ul {
  0% {
    left: 0; 
	}

  100% {
    left: -875px; 
    } 
}

@-webkit-keyframes move-ul {
  0% {
    left: 0; 
	}

  100% {
    left: -875px; 
    } 
}

.ball{
	-webkit-box-shadow: 1px 0px 10px 1px rgb(166, 166, 166);

-moz-box-shadow: 1px 0px 10px 1px rgb(166, 166, 166);

box-shadow: 1px 0px 8px 1px rgb(166, 166, 166);
}

.ulCont span{
	text-align: center;

position: relative;

/*top: 30px;*/

}
.ulCont span p{
 color:#fff;
 font-weight: 600;
 font-size: 14px;
}
.ulCont span p b{
	font-size: 20px;
}


.ftr-logo{
	padding-top: 60px;
}

.slick-dots{
	display: none !important;
}
img.dutch-flag{
    width:30px;
}
.chart img, .ulCont ul li img{
    display:initial;
}
.social-link ul.navbar-nav li button{
    padding:0px;
    background:transparent;
    border:0px;
    text-shadow: 0px 0px 0px transparent;
	box-shadow: inset 0px 0px 0px transparent;

}
.social-link ul.navbar-nav li .dropdown-menu{
    left:-74px;
}

.social-link ul.navbar-nav li .dropdown-menu li a img{
    width:28px;
}
.coin1 img, .coin2 img{
        border-radius: 100%;
        width: 50% !important;
        position:absolute;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(158,167,176,1);
-moz-box-shadow: 0px 5px 5px 0px rgba(158,167,176,1);
box-shadow: 0px 5px 5px 0px rgba(158,167,176,1);


}
.coin1 img{
    left:200px;
}
.coin2 img{
    left:70px;
}

.bendy_text{
  position: relative;
  text-align: center;
  margin-left: 100px;
}
.bendy_text span{
  font-family: 'Lobster', cursive;
  font-size: 14px;
  min-height: 400px;
}
.sec2 .single-item .col-sm-3{
	text-align: center;
	padding-bottom: 20px;
}


path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

@keyframes blink{
0%{opacity: .2;}
100%{opacity: 1;}
0%{opacity: 0;}
}
/*
.tab-pane{
    display:block !important;
	height: 0;
	width: 0;	
}
.tab-pane .col-sm-7, .tab-pane .col-sm-5{
    padding:0;
    height: 0;
	width: 0;
}
.tab-pane.active .col-sm-7 {
	padding:0 15px;
	height: auto;
	width: 58.33333333%;
}
.tab-pane.active .col-sm-5 {
	padding:0 15px;
	height: auto;
	width: 41.66666667%;
}
.tab-pane.active{
	display:block;
	height: auto;
	width: auto;
}*/

.sec4 .slick-dots{
	display: block !important;
	position: absolute;
	top: 30px;
	right: 0px;
	width: 40%;
	text-align: center;
}
.sec4 .slick-dots li{
	list-style: none;
	display: inline-block !important;
}
.sec4 .slick-dots li button{
	margin-right: 20px;
	margin-bottom: 20px;
}
#slick-slide-control10{
	display: none;
    background-image: url('../img/shoaib.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control11{
    background-image: url('../img/team1.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control12{
    background-image: url('../img/team5.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   

}
#slick-slide-control13{
    background-image: url('../img/mitchel.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control14{
    background-image: url('../img/team8.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control15{
    background-image: url('../img/team2.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control16{
    background-image: url('../img/team9.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control17{
    background-image: url('../img/team7.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control18{
    background-image: url('../img/team4.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control19{
    background-image: url('../img/team6.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
/**/
#slick-slide-control20{
    background-image: url('../img/tahira.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control21{
    background-image: url('../img/rafay.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control22{
    background-image: url('../img/hamza.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control23{
    background-image: url('../img/usman.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control24{
    background-image: url('../img/shan.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control25{
    background-image: url('../img/sohail.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control30{
    background-image: url('../img/halmatl.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control31{
	display: none;
    background-image: url('../img/halmatl.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control40{
    background-image: url('../img/muzammalashfaq.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control41{
    background-image: url('../img/fabian.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control42{
    background-image: url('../img/mahmood.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control43{
    background-image: url('../img/shoaib.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control26{
    background-image: url('../img/anjum.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
#slick-slide-control27{
    background-image: url('../img/sadia.png');
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    border: 0px;   
}
.slider-nav1a, .slider-nav2a, .slider-nav3a, .slider-nav4a{
position: relative;

right: 616px;

top: -160px;

z-index: 1;

text-align: right;
}
.slider-nav1a button, .slider-nav2a button, .slider-nav3a button, .slider-nav4a button{
	background-color: transparent;
	border: 0px;
	padding: 10px;
}



.founder-info{
	position: relative;
	left: -320px;
	top: 150px;
}

.founder-info h2{
	/*font-size: 25px;*/
    /*line-height: 25px;*/
	font-size: 20px;
	line-height: 16px;
	font-weight: 600;
	color: #152453;
}
.founder-info h4 {
    /*font-size: 14px;
    line-height: 14px;*/
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
    color: #f45941;
}

.slider-nav2{
	left: 470px;

bottom: 110px;

position: absolute;
z-index: 1;
}

#tab2 .slick-track{
	width: 10260px !important;
	height: 480px;
}
#tab3 .slick-track{
	width: 10260px !important;
	height: 480px;
}
#tab4 .slick-track{
	width: 10260px !important;
	height: 480px;
}
#tab2 .slick-track .slick-active{
	width: 1140px !important;
}
#tab3 .slick-track .slick-active{
	width: 1140px !important;
}
#tab4 .slick-track .slick-active{
	width: 1140px !important;


}


/*========== blog page =========*/
.blog-row h2{
	color:#f45941;
	font-size: 48px;
	line-height: 36px;
	font-weight: 700px;
	text-transform: capitalize;
	padding-top: 30px;
}





.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
/*  padding: 1em;*/
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}


.card {
  display: block;
  margin-bottom: 90px;
  line-height: 1.42857143;
  transition: box-shadow .25s;
}


.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 30px;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.card-header {
    text-align: -webkit-auto;
}

.dateinf {
    margin-bottom: 41px;
    font-size: 12px;
}

.dateinf > a {
    color: #333;
    text-decoration: underline;
}
.dateinf > p {
    display: inline-block;
    font-size: 12px;
}

.dateinf > a:hover {
    color: #ea5b0c;
}

.dateinf > p:after {
    content: "\2014";
    margin: 0 2px 0 6px;
    margin: 0 3px 0 10px;  
}


.icon-font a i{
	padding-top: 10px;
	padding-right: 10px;
}
.widget_text a::after{
	display: none;
}
.blog-right-img{
	margin-bottom: 20px;
}
section.widget_text{
	padding: 25px 0px;
}
.social-link ul li a:hover{
	background-color: transparent !important;
	transform:scale(1.1);

}
.social-link ul.nav li a{
	min-width:20px;
	padding: 0px;
}


  .hButtonFlipper { 	
  	-webkit-transition: -webkit-transform 1s; 	
  	-moz-transition: -moz-transform 1s; 	
  	-o-transition: -o-transform 1s; 	
  	transition: transform 1s; 	
  	-webkit-transform-style: preserve-3d; 	
  	-moz-transform-style: preserve-3d; 	
  	-o-transform-style: preserve-3d; 	
  	transform-style: preserve-3d; 	
  	height: 100%; } 
  	.hButtonFlipper.flipped { 	
  		position: absolute; 	   
  		width: 100px;   
  		-webkit-transform: rotateY( 180deg );      
  		-moz-transform: rotateY( 180deg );        
  		-o-transform: rotateY( 180deg );           
  		transform: rotateY( 180deg ); 
  	} 
  		.hButtonFlipper a {     
  			-webkit-backface-visibility: hidden;     
  		-moz-backface-visibility: hidden;     
  		-ms-backface-visibility: hidden;     
  		backface-visibility: hidden; 	
  		width: 100px;     
  		height: auto;     
  		position: absolute;     
  		-webkit-transition: -webkit-transform 1s;
  		     -moz-transition: -moz-transform 1s;    
  		      -o-transition: -o-transform 1s;     
  		      transition: transform 1s;     
  		      -webkit-transform-style: preserve-3d;     
  		      -moz-transform-style: preserve-3d;     
  		      -o-transform-style: preserve-3d;     
  		      transform-style: preserve-3d; } 
  		      .hButtonFlipper .button2 {   
  		      	-webkit-transform: rotateY( 180deg );      
  		      	-moz-transform: rotateY( 180deg );       
  		      	 -o-transform: rotateY( 180deg );           
  		      	 transform: rotateY( 180deg );
  		      	  }



/*=================== new blog =================================*/
.blog-navbar{
	background-color: #fdf0e8;
	border-top: 8px solid #f45941;
	border-bottom: 8px solid #f45941;
	height: 60px;
	padding: 5px 0;
}
.blog-nav{
	text-align: center;
}
.blog-nav li{
	list-style: none;
	display: inline-block;
}
.post-image, .post-body-image{
	text-align: center;
	padding: 20px 0px;
}
.post-footer ul li{
	list-style: none;
	display:inline-block;
	line-height: 3; 
}
.post-footer ul li a{
	padding: 5px 2px;
	border-radius: 100px;
	color: #fff;
	margin: 0px 5px;
}
.post-footer ul li a i{
	height: 25px;

width: 25px;

text-align: center;
}
.post-footer ul li a.fb{
	background-color: #3b5998;
}
.post-footer ul li a.twt{
	background-color: #1da1f2;
}
.post-footer ul li a.linked{
	background-color: #0077B5;
}
.post-footer .left{
	text-align: left;
}
.post-footer .left p{
	line-height: 3;
}
.post-footer .right{
	text-align: right;
}
.blog-nav ul li, .blog-nav ul li a{
 	color:#f45941;
 	font-size: 16px;
	font-weight: 700;
	padding: 0 20px;
}
.blog-nav ul li input[type="text"]{
	box-shadow: inset 0px 0px 10px 2px rgb(244, 89, 65);
	border: 0px;
}
.blog-nav ul li .form-group i{
	position: absolute;
	top: 10px;
	right: 10px;
}
.blog-nav ul li .form-group{
	position: relative;
}
.post-title h2{
	font-size: 40px;

color: #373e55;

line-height: 40px;
}
.post-title span{
	font-size: 14px;
	color: #333333;
	padding-left: 20px;

}
.post-title span.post-date{
	position: relative;
}
.post-title span.post-date::after{
	position: absolute;
	content: '';
	width: 5px;
	height: 1px;
	background-color:#333333;
	left: 95px;
	top: 9px;
}
.post-body{
	font-weight: 500;
}
.post-author h3{
	font-size: 18px;
	color: #373e55;
	line-height: 24px;
}
.newsletter{
	text-align: right;
}
.newsletter h2{
	color: #f45941;

font-size: 28px;

line-height: 30px;
}
.newsletter input{
	float: right;
	width: 50%;
	box-shadow: inset 0px 0px 4px 2px rgb(244, 89, 65);
	border: 0px;
	height: 46px;
	margin-right: 20px;

}
.newsletter  .form-group button{
	float: right;
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);

border: 0;

border-radius: 50px;

width: 130px;

padding: 12px 10px;

font-size: 16px;

font-weight: 600;

margin-left: 10px;

-webkit-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);

-moz-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);

box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
}
.com-head h2{
	color: #f45941;
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
}
.com-head h2::after{
	width: 100%;
	height: 4px;
	position: absolute;
	left: 1%;
	background-color: #eeb493;
	content: '';
	top: 56px; 
}
.cmt-row h3{
	font-size: 20px;
	color: #373e55;
	line-height: 24px;
}
.cmt-row form textarea{
	height: 250px;

border: 3px solid #eeb493;

border-radius: 0px;
}
.cmt-row form input{
	display: inline-block;
	width: 50%;
	border: 2px solid #eeb493;
	border-radius: 0px;
	height: 40px;
}
.cmt-row form input.last-input{
	margin-left: 4px !important;
}
.cmt-row form button{
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
	border: 0;
	border-radius: 50px;
	width: 130px;
	padding: 12px 10px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 10px;
	-webkit-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
	-moz-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
	box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
}
.cmt-row form{
	padding-bottom: 20px;
}
.main-comment hr{
	height: 4px;
	background-color: #eeb493;
}
.cmt-title h3{
	font-size: 20px;
	color: #373e55;
	line-height: 24px;
	font-weight: 600;
}
.cmt-title span{
	font-size: 14px;
	color: #333333;
}
.cmt-reply-title h3{
	font-size: 20px;
	color: #f45941;
	line-height: 24px;
	font-weight: 600;
}
.cmt-comment p{
	padding: 10px;
}
.cmt-reply-body{
	padding: 0 10px;
	border-left: 4px solid #eeb493;
	margin-left: 50px;
}
.join-us form input{
	display: inline-block;
	width: 70%;
	box-shadow: inset 0px 0px 4px 2px rgb(244, 89, 65);
	border: 0px;
	height: 46px;
}
.join-us form button{
	display: inline-block;
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
	border: 0;
	border-radius: 50px;
	padding: 12px 10px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 10px;
	-webkit-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
	-moz-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
	box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
}
.join-title h2{
	color: #f45941;
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
}
.join-us{
	background-color: #fdf0e8;
}
.join-us-social{
	padding-top: 50px;
}
.join-us-social ul li{
	list-style: none;
	display: inline-block;
}
.join-us-social ul li a {
	background-color: #fc780f;
    padding: 5px 2px;
    border-radius: 100px;
    color: #fff;
    margin: 0px 5px;

}
.join-us-social ul li a i {

    height: 25px;
    width: 25px;
    text-align: center;

}
.blog-author-img{
	padding-top: 50px;
}
.blog-author-name h3{
font-size: 20px;
color: #f45941;
line-height: 24px;
font-weight: 600;
text-align: center;
}
.blog-author-name p{
	color: #f45941;
	font-size: 14px;
}
.social-icons{
	text-align: center;
	padding-top: 20px;
}
.social-icons ul li {

    list-style: none;
    display: inline-block;

}
.social-icons ul li a {

    background-color: #fc780f;
    padding: 5px 2px;
    border-radius: 100px;
    color: #fff;
    margin: 0px 5px;

}
.social-icons ul li a i {

    height: 25px;
    width: 25px;
    text-align: center;

}
.getconect {
	padding-bottom: 50px;
}
.getconect h2, .pop-article h2{
	color: #f45941;

font-size: 28px;

line-height: 30px;

font-weight: 700;
text-transform: uppercase;
}
.getconect form button{
	float: right;
	background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);

border: 0;

border-radius: 50px;

width: 130px;

padding: 10px 8px;

font-size: 14px;

font-weight: 600;

-webkit-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);

-moz-box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);

box-shadow: 0px 2px 3px 3px rgba(245,217,210,1);
}
.getconect form input{
	box-shadow: inset 0px 0px 4px 2px rgb(244, 89, 65);

border: 0px;

height: 46px;
}
.art1{
	padding: 20px 0;
}
.art1 p{
	font-weight:600; 
}
.main-post {
	padding: 0 62px;
}

/*=================== new blog END=================================*/


/*=================== MAIN BLOG  =================================*/
.blog-nav .dropdown button{
	background-color: transparent;
	color: #f45941;
	font-size: 16px;
	font-weight: 700;
	padding: 0 20px;
}
.blog-nav .dropdown button:active{
	box-shadow: none;
}
.blog-nav .dropdown button i{
	padding-right: 5px;
}
.blog-nav .dropdown .dropdown-menu a {

    padding-left: 10px;
    display: block;
    text-transform: uppercase;

}
.blog-nav .dropdown .dropdown-menu a:hover{
	background-color: #fdf0e8;
	text-decoration: none;
}
.tags ul li{
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}
.tags ul li label{
	padding-left: 10px;
	text-transform: capitalize;
	color: #f45941;
}
.tag-title h2{
	color: #f45941;
font-size: 28px;
line-height: 30px;
font-weight: 700;
margin-bottom: 30px;
}
.blog-head{
	max-width: 100%;
	margin-top: 30px;
}
/*=================== MAIN BLOG END =================================*/