/* ==========================================================================
MEHROZ KHAN responsive styles (MK)
   ========================================================================== */
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1900px) {
}
/*992*/
@media (max-width: 1199px) {
	.banner-mobile{
		left:-63px;
	}
	.icon4{
		top:-60px;
	}
	.qr-row p{
		text-align: center;
	}
	.coins img{
		width: 100%;
	}
	.sec-heading h2::before{
		left: 371px;
	}
	.sec-heading h2::after{
		left: 422px;
	}
	.chart-list{
		padding-left: 20px;
	}
	.slider_div{
		padding: 25px 10px;
		min-height: 282px;
	}
	.sec4 img{
		width: 100%;
	}
	.sec4 .animebox img, .founder-info img{
		width: auto;
	}
	.slider-nav2{
		right: 40px;
		bottom: 70px;
	}
	.icon15 {
		top: -260px;
    	left: -21px;
	}
	.old-man img{
		left: 26px;
		top: -121px;
	}
	.roadmap img{
		width:100%;
	}
	.icon14 {
		left: 191px;
    	top: 60px;
	}
	.sec4{
		padding-bottom: 140px;
	}
	.sec5{
		padding-bottom: 0px;
	}
	.icon20 {
		left: -20px;
    	top: 1200px;
    }
    .icon19{
    	right: 0px;
    }
    .woman{
    	
    	right: 0px;
    }
    .icon23{
    	right: -10px;
    }
    .icon28{
    	top: 486px;

left: 323px;
    }
    .footer-top .sec-heading h3{
    	font-size:23px; 
    }
    .footer-top .ftr-logo{
    	padding-top: 40px;
    }
    .footer-bottom p{
    	line-height: 15px;
    	padding-bottom: 15px;
    }
    .sec2 .single-item .col-sm-3{
    	width: 50%;
    }

    /*=========Slider responsive=======================*/
    .sec4 .slick-track{
    	height: 380px !important;
    }
    .tab-content .col-sm-8{
    	width: 38%;
    }
    .tab-content .col-sm-4{
    	width: 62%;
    }
    .founder-info{
    	left: -20px;
    	top: 150px;
    }
    .sec4 .slick-dots{
    	width: 43%;
    }
    .tab-content #tab2 .col-sm-8, .tab-content #tab3 .col-sm-8, .tab-content #tab4 .col-sm-8{
    	width: 31%;
    }
    .tab-content #tab2 .col-sm-4, .tab-content #tab3 .col-sm-4, .tab-content #tab4 .col-sm-4{
    	width: 69%;
    }
    .slider-nav1a, .slider-nav2a, .slider-nav3a, .slider-nav4a{
    	right: 532px;
		top: -110px;
    }
    /*============== /slider responsive =====================================*/

    .founder-info h2{
    	font-size: 15px;
		line-height: 12px;
    }
    .founder-info h4{
    	font-size: 12px;
		line-height: 12px;
    }
    .row.circle-half-width{
    	margin-right: 0px;
		margin-left: -30px;
    }

    .join-us form button{
    	font-size: 14px;
    	margin-left: 0px;
    }
    .join-us-social ul li a{
    	margin: 0px 2px;
    }
    .join-us-social {
		padding-top: 53px;
	}
	.blog-nav ul li, .blog-nav ul li a{
		padding: 0px 6px;
	}
	/*.blog_page .col-sm-8, .blog_page .col-sm-4{
       width: 100%;
	}*/
	.main-post {
		padding: 0;
	}





}
/*768*/
@media (max-width: 991px) {
	.blog_page .col-sm-8, .blog_page .col-sm-4{
       width: 100%;
	}
	.blog-navbar{
		height: 90px;
	}
	header{
		background-size: 70%;
	}
	.sec1 {
		padding-top: 10px;
	}
	.sec1 h2 {
	font-size: 60px;
    line-height: 80px;
	}
	.banner-mobile{
		left: 24px;
	}
	.banner-mobile img{
		width: 100%;
	}
	.sec1 h4, .sec1 .btn{
		font-size: 25px;
	}
	.qr-row {
		padding-top: 20px;
	}
	.qr-row .col-sm-6{
		display: none;
	}
	.qr-row .col-sm-3{
		width: 50%;

	}
	.qr-row p{
		text-align: left;
	}
	.slider-nav{
		right: -20px;
		top: 60px;
	}
	.sec-heading h2::before {

    left: 256px;
    top: 60px;
	}
	.sec-heading h2::after {
		left: 305px;
    	top: 80px;
	}
	.chart img{
		width: 100%;
	}
	.frm-header img{
		width: 100%;
	}
	.frm-body .btn{
		margin-left: 19%;
	}
	/*.circle-half-width{
		display: none;
	}*/
	/*.circle-full-width{
		display: block;
	}*/
	.sec3 .logo img{
		width: 80%;
	}
	.sec4{
		padding-top: 40px;
	}
	.sec4 ul.nav-tabs li a{
		font-size: 14px;
		width: 125px;
		margin-left: 5px;
	}
	.sec4 .sec-heading, .sec6 .sec-heading {
		margin-bottom: 40px;
	}
	.founder-info {
	    padding-top: 40px;
    	padding-left: 0px;
	}
	.sec5 iframe{
		width: 100%;
		height:235px; 
	}
	.sec5 .sec-heading{
		padding-bottom: 0px;
	}
	.sec5{
		background-size: 100% 70%;
	}
	.old-man img {
    	left: 0px;
    	top: -130px;
	}
	.sec5 ul li a{
		width: 123px;
		font-size: 12px;
	}
	ul.page-tabs li a {
    	width: 40px !important;
    	margin-top: 20px;
	}
	.woman img{
		/*width: 100%*/
	}
	.woman {
    	right: -7px;
		top: 165px;
	}
	.sec7{
		padding-bottom: 40px;
	}
	.sec7 form{
	position: relative;
	z-index: 1;
	}
	.sec7 form .col-sm-6{
		width: 100%;
	}
	footer{
		padding-top: 0px;
	}
	.ftr-logo img{
		width: 100%;

	}
	.footer-top .ftr-logo {
    padding-top: 70px;
}
	.footer-top .sec-heading h3 {
    font-size: 17px;
}
.footer-top ul li  {
	font-size: 13px;
}
.sec-heading h3::before{
	top: 30px;
left: 0px;
}
.sec-heading h3::after{
	top: 42px;
left: 20px;
}
.coins {
    /*padding-bottom: 150px;*/
}
.coin1 img {
    left: 110px;
}
.coin2 img {
    left: 20px;
}
.icon28 {

    top: 396px;
    left: 248px;
    width: 40px;

}

 /*=========Slider responsive=======================*/
    .sec4 .slick-dots {

    width: 55%;
    right: -20px;

}
    .slick-dots li button{
    	height: 90px !important;
		width: 89px !important;
		background-position: -12px -2px;
    }
    .tab-content .col-sm-8 {
		width: 50%;
	}
	.tab-content .col-sm-4 {
		width: 50%;
	}
	.sec4 .slick-track {
		height: 480px !important;
	}
	.founder-info {
		left: -280px;
    	top: 300px;
	}
	.slider-nav1a, .slider-nav2a, .slider-nav3a, .slider-nav4a {
		right: 342px;
    	top: -133px;
	}

 /*============== /slider responsive =====================================*/

 /*blog-right*/
.col-md-4.right-blog{
	display: flex;
}

.col-md-4.right-blog section.widget_text{
	display: flex;
	flex-basis: 33.33%;
	padding-left: 10px;
	padding-right: 10px;
}

 
 /*blog-right*/
.ball{
	width: 100px;
	height: 100px;

}
.ball ul{
	width: 100px;
	height: 100px;
	padding: 25px 0;
}
.ball ul li{
	width: 100px;
	height: 100px;
	font-size: 12px;
}
.row.circle-half-width{
	transform: translateY(-80px);
}
.ball ul li h4 {

    font-size: 16px !important;


}
.blog-author-img {

    padding-top: 10px;
    text-align: center;

}
.blog-author-img img{
	display: initial;

width: 40%;
}
.blog-author-name{
	text-align: center;
}
.join-us .col-sm-8{
	width: 100%;
}
.join-us .col-sm-4{
	width: 0%;
}
.join-us .col-sm-8 .row .col-sm-8{
	width: 70%;
}
.join-us .col-sm-8 .row .col-sm-4{
	width: 30%;
}
}
/*551*/
@media (max-width: 767px) {
	.social-link{
		display: none;
	}
	.navbar-nav{
		background: linear-gradient(to bottom, #ff8a00 0%,#f64838 100%);
		position: absolute;
z-index: 1;
	}

	.sec-heading h2::before {

    left: 163px;
}
.sec-heading h2::after {

    left: 215px;
    }
    .qr-row .col-sm-3{
    	float: left;
    	text-align: center;
    }
    .qr-row .col-sm-3 p{
    	text-align: center;
    }
    .banner-mobile img{
    	max-width: 100%;
    	display: block;
    	height: auto;
    	width: auto;
    }
   /* .banner-mobile {
    left: 64px;
}*/
.banner-mobile {

    left: 94px;
    width: 306px;

}
.sec1 h2 {
    font-size: 58px;
    line-height: 68px;
}
.sec1 h4, .sec1 .btn {
    font-size: 24px;
    line-height: 24px;
}
.sec1 .btn{
	padding: 7px 20px;
	margin: 10px 10px;
}
.icon1, .icon2, .icon3, .icon4, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon16, .icon17, .icon22, .icon23{
	width: 25px !important;
}
.icon3 {

    left: 481px;
    top: 203px;
    }
    .icon5, .icon13, .icon15, .icon18, .icon19, .icon20, .icon27{
    	width: 40px !important;
    }
    .icon2 {

    top: 510px;
    left: 480px;
}
.icon27 {
    right: 20px;
    top: 60px;
}
.icon25 {

    top: -30px;
    right: 20px;
}
.icon24 {
    right: 64px;
    top: -180px;
    }

.slider-nav {

    right: 0px;
    top: 52px;

}
.chart-list .col-sm-4{
	width: 50%;
	float: left;
}
.chart-list {

    padding-top: 20px;
    padding-bottom: 20px;

}
.coins{
	max-width: 100%;
	width: auto;
	display: block;
	height: auto;
	text-align: center;
	
}
.frm-header img{
	width: auto;
	max-width: 100%;
}
.frm-body .btn {

    margin-left: 0%;

}
.circle-full-width .col-sm-3{
    float: left;
    text-align: center;
    width: 24%;
    margin-top: 30px;
}
.sec-heading h2{
	font-size: 36px;
	line-height: 36px; 
}
.icon10{
	left: 100px;
	top: 90px;
}
.icon9 {

    right: 101px;
    top: -60px;
    }
    .sec3 .slick-list {

    padding: 10px 5px 30px 5px;

}

.slider-nav1{
	top: -10px;
}
.sec4 ul.nav-tabs li a {

    font-size: 12px;
    width: 120px;
    margin-left: 8px;
    margin-bottom: 20px;

}
.icon14 {

    left: 1px;
    top: -110px;
    z-index: -1;

}
.sec4 img {
	width: auto;
	max-width: 100%;
	display: block;
	height: auto;

}
/*.sec4 .col-sm-8{
	padding-left: 10%;
}*/
.founder-info {

    padding-top: 0;
    padding-left: 40px;

}
.slider-nav2 {

    right: 20px;
    bottom: 150px;

}
/*.sec4 .tab-content .col-sm-4 {

    padding: 25px 25px 0 25px;
    width: 33.33%;
    float: left;

}*/
.old-man{
	display: none;
}
.icon17 {
    top: 530px;
}
.sec7 li{
	padding-left: 10px;
}
.ftr-logo img {

    width: 100%;
    width: auto;
    max-width: 100%;
    display: block;
    height: auto;

}
.footer-top{
	text-align: center;
}
.footer-top .col-sm-3, .footer-top .col-sm-2{
	width: 50%;
	float: left;

}
.footer-top .sec-heading{
	text-align: center; 
}  
.footer-top .ftr-logo {

    padding-top: 30px;

}
.footer-top .ftr-logo img{
	display: initial;
}
.footer-top .sec-heading h3::before {
	left: 70px;
}
.footer-top .sec-heading h3::after{
	left: 90px;	
}
.footer-top .col-sm-2.social-link-ftr{
	width: 100%;
}
.footer-top .col-sm-2.social-link-ftr .sec-heading h3::before {
	left: 210px;
}
.footer-top .col-sm-2.social-link-ftr .sec-heading h3::after{
	left: 230px;
}
.woman{
	display: none;
}   
.icon1 {

    top: 35px;
    }   

    .footer-bottom{
    	text-align: center;
    } 
    .coins {
   /* padding-bottom: 250px;*/
}
.coin1 img {
    left: 200px;
}
.coin2 img {
    left: 80px;
}
.icon28 {

    top: 325px;
    left: 180px;
    width: 30px;

}

.sec2 .single-item .col-sm-3 {

    width: 100%;

}
.sec2 .single-item .col-sm-3 .ball{
	margin-right: 50px;
	margin-left: 50px;
}


 /*============== slider responsive =====================================*/
    .tab-content .col-sm-8 {
    width: 50%;
	}
	.tab-content .col-sm-4{
		width: 77%;
	}
	.slider-nav1a, .slider-nav2a, .slider-nav3a, .slider-nav4a{
		top: -163px;
	}
	.tab-content #tab2 .col-sm-8, .tab-content #tab3 .col-sm-8, .tab-content #tab4 .col-sm-8 {

    width: 23%;

}
.tab-content #tab2 .col-sm-4, .tab-content #tab3 .col-sm-4, .tab-content #tab4 .col-sm-4 {

    width: 77%;

}
.founder-info {

    left: 0;
    top: 0;
	}
.sec4 .slick-dots {
	width: 50%;
    right: 0;
}
 /*============== /slider responsive =====================================*/

 .row.circle-half-width .col-sm-3:nth-child(2){
  margin-left:120px !important;
}
.row.circle-half-width .col-sm-3:nth-child(3){
  margin-left:240px !important;
}
.row.circle-half-width .col-sm-3:nth-child(4){
  margin-left:360px !important;
}
.row.circle-half-width:first-child{
	transform: translateY(-20px);
}
.blog-navbar{
	height: 90px;
}
.post-image img, .post-body-image img{
	max-width: 100%;
}
.post-footer .right, .post-footer .left{
	text-align: center;
}
.newsletter input {
    float: left;
    width: 73%;
}
.newsletter .form-group button {
    float: right;
    width: 110px;
	padding: 10px 10px;
}
.com-head h2::after {
    width: 95%;
    top: 37px;
}
.newsletter {
    text-align: center;
}
.cmt-row form textarea {
    height: 150px;
}
.join-us .col-sm-8 .row .col-sm-8 {
    width: 100%;
}
.join-title, .join-us .form-group{
	text-align: center;
}
.join-us .form-group button{
	margin-top: 20px;
}
.join-us form input{
	width: 80%;
}
.join-us .col-sm-8 .row .col-sm-4 {
    width: 100%;
    text-align: center;
}
.join-us-social {

    padding-top: 13px;

}
.tags ul li label {
    padding-left: 8px;
}
}
/*320*/
@media(max-width:550px) {
	p{
		font-size: 14px;
	}
	.sec1 h2 {

    font-size: 38px;
    line-height: 38px;

}
.sec1 h4, .sec1 .btn {

    font-size: 18px;
    line-height: 18px;

}
/*.banner-mobile {

    left: 20px;

}*/
.banner-mobile {

    left: -20px;

}
.icon1 {

    top: 50px;
    left: 231px;
}
.icon2 {

    top: 450px;
    left: 270px;

}
.icon3{
	left:251px;
}
.icon6{
	left: 181px;
}
.sec-heading h2 {

    font-size: 32px;
    line-height: 32px;
    margin-bottom: 0px;

}
.sec-heading h2::before {

    left: 60px;
    top: 44px;
    width: 170px;

}
.sec-heading h2::after {

    left: 105px;
    top: 60px;
    width: 80px;

}

.sub-head h2 {

    font-size: 28px;
    line-height: 28px;
}
.slider-nav img, .slider-nav1 img, .slider-nav2 img{
	width: 10px;
}
.frm-header{
	padding: 80px;
}
.frm-body .btn{
	font-size: 16px;
	margin: 0px 15px;
}
.circle-full-width .col-sm-3{
	width: 50%;
}
.sec3 .sec-heading h2::before {
	top: 74px;
}
.sec3 .sec-heading h2::after{
	top: 90px;
}
.icon9{
	top: -50px;
}
.icon10 {

    left: 10px;
    }
    .icon15 {

    top: -220px;
    left: -11px;

}
.sec5 .nav-tabs li{
	margin-bottom:20px;
}
.sec6 {

    padding-top: 20px;
    }
    .icon18{
    	top: 270px;
    }
    .icon19{
    	top: 470px;
    }
    .icon20{
    	top: 90px;
    }
    .sec4 {

    padding-bottom: 110px;

}
.sec5 .sec-heading{
	top: -170px;
}
.sec6{
	padding-bottom: 160px;
}
.sec7 .sec-heading{
	top: -120px;
}
.icon22{
	top: 190px;
	left: 260px;
}
.footer-bottom p{
	text-align: center;
	line-height: 17px;
}
.icon5, .icon13, .icon15, .icon18, .icon19, .icon20, .icon27 {

    width: 20px !important;

}
.icon11 {

    left: 150px;
    }
    .icon23 {

    right: 0px;

}
.footer-top .sec-heading h3::before {

    left: 20px;

}
.footer-top .sec-heading h3::after {

    left: 40px;

}
.footer-top .col-sm-2.social-link-ftr .sec-heading h3::before {

    left: 96px;

}
.footer-top .col-sm-2.social-link-ftr .sec-heading h3::after {

    left: 115px;

}
.coins {
   /* padding-bottom: 170px;*/
}
.coin2 img {
    left: 30px;
}
.coin1 img {
    left: 100px;
}
.icon28 {

    top: 235px;
    left: 101px;
    width: 18px;

}

.sec2 .single-item .col-sm-3 .ball {

    margin-right: 8px;
    margin-left: 8px;

}
/*============== slider responsive =====================================*/

.slick-dots li button {

    height: 60px !important;
    width: 60px !important;
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;

}
.sec4 .slick-dots {

    width: 100%;
    }
    .slider-nav1a, .slider-nav2a, .slider-nav3a, .slider-nav4a {

    top: -75px;
    right: 20px;

}
.sec4 .slick-track {

    height: 570px !important;

}
.sec4 .slick-dots {

    width: 100%;
    right: 0;

}
.tab-content .col-sm-8 {

    width: 70%;
    margin: auto;
    padding-top: 260px;

}
.tab-content .col-sm-4 {

    width: 100%;

}
/*============== /slider responsive =====================================*/


/*  right blog*/
.col-md-4.right-blog{
	display: block;
}

.col-md-4.right-blog section.widget_text{
	display: block;
	
}
/*right blog*/
.blog-nav ul li, .blog-nav ul li a {

    padding: 0px 3px;
    font-size: 12px;

}
.post-title h2{
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 0px;
}
.post-title span{
	font-size: 11px;
	padding-left: 5px;
}
.newsletter h2{
	font-size: 23px;
	line-height: 26px;
}

.cmt-row form input{
	width: 100%;
}
.cmt-row form button{
	width: 100%;
	margin-left: 0;
}
.cmt-reply-body{
	margin-left: 15px;
}
.getconect h2, .pop-article h2{
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 0px;
}
.getconect form button{
	float: none;
	width: 100%;
}
.join-us form input {
	width: 100%;
}
.join-us .form-group button{
	width: 100%
}
.newsletter .form-group{
	display: flex;
	flex-wrap: wrap-reverse;
}
.newsletter input {

    float: none;
    width: 100%;

}
.newsletter .form-group button {

    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;

}
.blog-navbar {

    height: 85px;

}
.blog-navbar{
	border-top: 4px solid #f45941;

border-bottom: 4px solid #f45941;
}
.blog-nav .dropdown button{
	font-size: 12px;
}
.blog-nav ul li input[type="text"]{
	height: 24px;
}
.blog-nav ul li .form-group i{
	top: 6px;
}
.tags ul li label {
    padding-left: 6px;
}
.tags ul li {
	padding-right: 5px;
}
}
@media(max-width:340px) {
}
